.Rproj.user
.DS_Store
*.zip
README.html
site/data/items.toml
utils/*.html
src/*.pdf
# src/*.png
src/*.gz
src/*.aux
src/*.log
src/*.snm
src/*.toc
child.Rmd
.Rhistory
src/counter_file
src/data.csv
src/data.txt
counter_file