src-1.zip
src-2.zip
src-4.zip
src-block_to_diagram.zip
src-block-to-diagram-after.zip
src.zip
.Rproj.user/D6CE2392/rmd-outputs
.Rproj.user/D6CE2392/saved_source_markers
.Rproj.user/D6CE2392/pcs/files-pane.pper
.Rproj.user/D6CE2392/pcs/source-pane.pper
.Rproj.user/D6CE2392/pcs/windowlayoutstate.pper
.Rproj.user/D6CE2392/pcs/workbench-pane.pper
.Rproj.user/D6CE2392/sources/prop/1DC090F0
.Rproj.user/D6CE2392/sources/prop/2B6180D8
.Rproj.user/D6CE2392/sources/prop/5C57B6E4
.Rproj.user/D6CE2392/sources/prop/6E255107
.Rproj.user/D6CE2392/sources/prop/9D41CF97
.Rproj.user/D6CE2392/sources/prop/97CA0A86
.Rproj.user/D6CE2392/sources/prop/187C7C44
.Rproj.user/D6CE2392/sources/prop/550132EB
.Rproj.user/D6CE2392/sources/prop/884016FC
.Rproj.user/D6CE2392/sources/prop/896998A6
.Rproj.user/D6CE2392/sources/prop/80164653
.Rproj.user/D6CE2392/sources/prop/B36E0458
.Rproj.user/D6CE2392/sources/prop/B75D407D
.Rproj.user/D6CE2392/sources/prop/B0387974
.Rproj.user/D6CE2392/sources/prop/BE1BAFD3
.Rproj.user/D6CE2392/sources/prop/BE6A7B7
.Rproj.user/D6CE2392/sources/prop/D22841B2
.Rproj.user/D6CE2392/sources/prop/INDEX
.Rproj.user/D6CE2392/sources/s-9CD6200A/5AF7DCE3
.Rproj.user/D6CE2392/sources/s-9CD6200A/5AF7DCE3-contents
.Rproj.user/D6CE2392/sources/s-9CD6200A/9CFF1912-contents
.Rproj.user/D6CE2392/sources/s-9CD6200A/4260F7FD
.Rproj.user/D6CE2392/sources/s-9CD6200A/4260F7FD-contents
.Rproj.user/D6CE2392/sources/s-9CD6200A/4388CF99
.Rproj.user/D6CE2392/sources/s-9CD6200A/4388CF99-contents
.Rproj.user/D6CE2392/sources/s-9CD6200A/16238696
.Rproj.user/D6CE2392/sources/s-9CD6200A/16238696-contents
.Rproj.user/D6CE2392/sources/s-9CD6200A/CA52B60E
.Rproj.user/D6CE2392/sources/s-9CD6200A/CA52B60E-contents
.Rproj.user/D6CE2392/sources/s-9CD6200A/E854549B
.Rproj.user/D6CE2392/sources/s-9CD6200A/E854549B-contents
.Rproj.user/D6CE2392/sources/s-9CD6200A/F05DF665
.Rproj.user/D6CE2392/sources/s-9CD6200A/F05DF665-contents
.Rproj.user/D6CE2392/sources/s-9CD6200A/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/3E78E3DF-template/1/D6CE239269CC8AC2/chunks.json
.Rproj.user/shared/notebooks/3E78E3DF-template/1/s/chunks.json
.Rproj.user/shared/notebooks/41BCD9C1-README/1/D6CE239269CC8AC2/chunks.json
.Rproj.user/shared/notebooks/41BCD9C1-README/1/D6CE239278283964/chunks.json
.Rproj.user/shared/notebooks/41BCD9C1-README/1/s/chunks.json
.Rproj.user/shared/notebooks/41BCD9C1-README/1/s/cadru9328ivk2/000002.csv
.Rproj.user/shared/notebooks/41BCD9C1-README/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/D6CE239278283964/chunks.json
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/D6CE23929CD6200A/chunks.json
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/s/chunks.json
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/s/c13g2lujmtd6k/000002.csv
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/s/c9q494onk09on/000006.csv
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/s/cbaxq964gyavc/000002.csv
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/s/ckc06lqgsnys7/000002.csv
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/s/ckct86qmbmbvm/000002.csv
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/s/cr8gt4ta1zdc3/000002.csv
.Rproj.user/shared/notebooks/C4D5F472-organize_tex_files/1/s/crfu9u5py2g2q/000002.csv
.Rproj.user/shared/notebooks/D2EC8260-useful_tips/1/D6CE23929CD6200A/chunks.json
.Rproj.user/shared/notebooks/D2EC8260-useful_tips/1/s/chunks.json
.Rproj.user/shared/notebooks/D2EC8260-useful_tips/1/s/cbfo7cvvrewdf/000002.csv
.Rproj.user/shared/notebooks/D2EC8260-useful_tips/1/s/cdcasuaxoltwe/000002.csv
.Rproj.user/shared/notebooks/D2EC8260-useful_tips/1/s/ci5ft00fgowp3/000002.csv
.Rproj.user/shared/notebooks/D2EC8260-useful_tips/1/s/coqfdxpc51n09/000002.csv
.Rproj.user/shared/notebooks/F11B8783-rename start of file with time from +timeline/1/D6CE23929CD6200A/chunks.json
.Rproj.user/shared/notebooks/F11B8783-rename start of file with time from +timeline/1/s/chunks.json
.Rproj.user/shared/notebooks/F11B8783-rename start of file with time from +timeline/1/s/c37o5ado9cuf9/000002.csv
.Rproj.user/shared/notebooks/F11B8783-rename start of file with time from +timeline/1/s/ca3zd48ny899z/000002.csv
.Rproj.user/shared/notebooks/F11B8783-rename start of file with time from +timeline/1/s/cc76qhjjhvwqm/000002.csv
.Rproj.user/shared/notebooks/F11B8783-rename start of file with time from +timeline/1/s/cz3it1z5woukk/000006.csv
rename start of file with time from +timeline.nb.html
useful_tips.nb.html
organize_tex_files.nb.html
