.Rproj.user
.DS_Store
*.zip
README.html
child.Rmd
site/data/items.toml
utils/*.html
src/*.pdf
src/*.gz
src/*.aux
src/*.log
src/*.snm
src/*.toc
src/*.nav
src/*.log
src/*.fdb_latexmk
src/*.fls
.Rhistory
src/data.csv
src/data.txt
counter_file
.vscode/settings.json

